@import "tailwindcss";

:root {
  --background: #FFFFF9;
  --foreground: #171717;
  --movie-romantic-comedy: linear-gradient(to bottom, #F7C9E7, #FAF6E1);
}

.shadow-main {
  /* Tailwind's shadow-xl with lower opacity: */
  box-shadow:
    0 10px 15px -5px color-mix(in srgb, var(--color-primary, #263647) 10%, transparent),
    0 8px 10px -6px color-mix(in srgb, var(--color-primary, #263647) 5%, transparent);
}

@theme {
  --font-size-base: 20px;

  --color-primary: #263647;

  --color-romantic-from: #F7C9E7;
  --color-romantic-to: #C9F7E9; /* soft mint green */

  --color-comedy-drama-from: #FFD8B1;
  --color-comedy-drama-to: #B1D8FF; /* light sky blue */

  --color-adventure-fantasy-from: #B1D9FF;
  --color-adventure-fantasy-to: #FFCFB1; /* peach pastel */

  --color-dark-comedy-from: #B0A6FF;
  --color-dark-comedy-to: #FFC6B0; /* light coral */

  --color-horror-from: #FFB1B1;
  --color-horror-to: #B1FFDF; /* aqua pastel */

  --color-coming-of-age-from: #C1FFD7;
  --color-coming-of-age-to: #FFD1F7; /* pink pastel */

  --color-slice-of-life-from: #FFF5B1;
  --color-slice-of-life-to: #B1F0FF; /* light teal */

  --color-action-thriller-from: #FFB8A1;
  --color-action-thriller-to: #B1D5FF; /* baby blue */

  --color-mystery-suspense-from: #A1B8FF;
  --color-mystery-suspense-to: #FFD1B1; /* peachy tone */

  --color-romantic-drama-from: #F7C9E7;
  --color-romantic-drama-to: #C9F7D7; /* light mint */

  --color-feel-good-musical-from: #FFF1B8;
  --color-feel-good-musical-to: #B8D6FF; /* pastel blue */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-courier-prime);
  --font-header: var(--font-clash-grotesk);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-courier-prime), Arial, Helvetica, sans-serif;
}