@import "tailwindcss";

:root {
  --background: #FFFFF9;
  --foreground: #171717;
  --movie-romantic-comedy: linear-gradient(to bottom, #F7C9E7, #FAF6E1);
}

.shadow-main {
  /* Tailwind's shadow-xl with lower opacity: */
  box-shadow:
    0 10px 15px -5px color-mix(in srgb, var(--color-primary, #263647) 10%, transparent),
    0 8px 10px -6px color-mix(in srgb, var(--color-primary, #263647) 5%, transparent);
}

.all-gradient {
  background: linear-gradient(
    to right,
    #fbe6df,
    #fff3eb,
    #f5f0e6,
    #f7c9e7,
    #ffdbe7,
    #fff5b1,
    #dff5df,
    #f2eef9,
    #daf2ff,
    #d3f4ff,
    #efefee
  ); 
}

@theme {
  --font-size-base: 20px;

  --color-primary: #263647;
  --color-secondary: #FF7F61;

  --color-romantic-from: #F7C9E7;
  --color-romantic-to: #C9F7E9;

  --color-comedy-drama-from: #fff3eb;
  --color-comedy-drama-to: #fceacf;

  --color-adventure-fantasy-from: #f2eef9;
  --color-adventure-fantasy-to: #e7d9fd;

  --color-dark-comedy-from: #dff5df;
  --color-dark-comedy-to: #c3e2d8;


  --color-horror-from: #efefee;
  --color-horror-to: #dad5db;

  --color-coming-of-age-from: #f5f0e6;
  --color-coming-of-age-to: #fceabb;

  --color-slice-of-life-from: #FFF5B1;
  --color-slice-of-life-to: #B1F0FF;

  --color-action-thriller-from: #fbe6df;
  --color-action-thriller-to: #f8c8b8;

  --color-mystery-suspense-from: #daf2ff;
  --color-mystery-suspense-to: #b7e2f3;

  --color-romantic-drama-from: #F7C9E7;
  --color-romantic-drama-to: #C9F7D7;

  --color-feel-good-musical-to: #ffdbe7;
  --color-feel-good-musical-from: #d3f4ff;

  --breakpoint-sm: 0px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-courier-prime);
  --font-header: var(--font-clash-grotesk);
}

@keyframes shake {
  0% {
     transform: translateY(0);
  }
  20% {
     transform: translateY(-3px);
  }
  40% {
     transform: translateY(2px);
  }
  60% {
     transform: translateY(-2px);
  }
  80% {
     transform: translateY(1px);
  }
  100% {
     transform: translateY(0);
  }
}

.animate-shake {
  animation: shake 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
  will-change: transform;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-courier-prime), Arial, Helvetica, sans-serif;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(27px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 1s ease-out forwards;
}

.fade-up-fast {
  animation: fade-up 0.5s ease-out forwards;
}

button {
  cursor: pointer;
}